---
services:
  gotify:
    image: gotify/server:2.7.3
    restart: unless-stopped
    ports:
      - 10.0.0.1:8082:80
    environment:
      - GOTIFY_DEFAULTUSER_NAME=admin
      - GOTIFY_DEFAULTUSER_PASS=gotify
      - TZ="Europe/Paris"
      - GOTIFY_REGISTRATION=false
    volumes:
      - ./gotify_data:/app/data
networks: {}
...
