---
services:
  cadvisor:
    image: ghcr.io/google/cadvisor:0.55.1
    container_name: cadvisor
    ports:
      - 10.0.0.1:8084:8080
    volumes:
      - /:/rootfs:ro
      - /run:/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    devices:
      - /dev/kmsg
    privileged: true
    restart: unless-stopped
networks: {}
...
