services:
  syncthing:
    image: ghcr.io/syncthing/syncthing:2.0.9
    container_name: syncthing
    hostname: VPS
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - /data/Synck:/var/syncthing
      - /data/music:/var/syncthing/music
    ports:
      - 10.0.0.1:8384:8384 # Web UI
      - 10.0.0.1:22000:22000/tcp # TCP file transfers
      - 10.0.0.1:22000:22000/udp # QUIC file transfers
      - 10.0.0.1:21027:21027/udp # Receive local discovery broadcasts
    restart: unless-stopped
    healthcheck:
      test: curl -fkLsS -m 2 10.0.0.1:8384/rest/noauth/health | grep -o --color=never
        OK || exit 1
      interval: 1m
      timeout: 10s
      retries: 3
networks: {}
